
.portfolio {
  height: 100%;
  text-align: center;
  background-color: #030A8C;
  color: white
}
 
.title {
  font-family: bookman;
  margin-top: 10px;
}

.header {

  color: #F2F2F2;
  background-color: #020873;
  font-family: bookman;
  padding: 1rem;
}

.nav {
  background-color: #F2F2F2;
  font-family: bookman;
}

.home {
  min-height: 80vh;
}

.profile {
  margin-top: 15px;
}

.paragraph {
  margin-top: 30px;
  font-size: 150%;
}

.ProjectCard {
  margin-top: 5rem;
}

.ProjectCard1{
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.ProjectTitle {
  color: #27418C;
  font-family: bookman;
}

.resume {
  min-height: 65vh;
}

.button {
margin-top: 30vh;
}

.contact {
  min-height: 70vh;
}

.form {
  margin: 40px;
}

.form input {
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
}

.form textarea {
  margin-top: 25px;
  margin-bottom: 15px;
}

.form button {
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: lemonchiffon;
}









.footer {
  background-color: #25A6D9;
}
















