
/* styling for the whole site, as designated on the app.css page */
.portfolio {
  /* height: 100%; */
  text-align: center;
  background-color: #25a6d9;
  color: white;
}



.header {
  color: #020873;
  background-color: #ffffff;
  font-family: bookman;
  padding: 1rem;
}

.nav {
  background-color: #f2f2f2;
  font-family: bookman;
}

.home {
  min-height: 80vh;
}

.bio {
  background-color: #25a6d9;
}

.biopic {
  margin-left: 55px;
  margin-right: 55px;
  background-color: #25a6d9;
}

/* .intro {
 
} */

.profile {
  margin-top: 25px;
}

.paragraph {
  background-color: #25a6d9;
  margin-top: 30px;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 150%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.fiona {
  max-height: px;
}
/* these classes are for the projects page */

.title {
  font-family: bookman;
  margin-top: 15px;
}

.ProjectCard {
  margin-top: 5rem;
}
.ProjectCard1 {
  margin-top: 5rem;
  height: 80%;
}

.ProjectCard2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  max-width: 10rem;
margin-left: auto;
margin-right: auto;
height: 80%;
}

.ProjectTitle {
  color: #27418c;
  font-family: bookman;
}

/* these classes are for the resume page */
.resume {
  min-height: 80vh;
  align-items: center;
}

.techIcon {
  padding: 15%;
}

.button {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #030abc;
  color: white;
}

/* these classes are for the contact page */
.contact {
  min-height: 100vh;
}

.clickToEmail {
  margin-top: 25px;
  margin-bottom: 15px;
}

.phoneInfo {
  margin-top: 25px;
  margin-bottom: 45px;
}

.mediaIcons {
  margin-top: 25px;
  padding-bottom: 25px;
}

.footer {
  background-color: #25a6d9;
}
