.contact {
  min-height: 100vh;
}

.clickToEmail {
  margin-top: 25px;
  margin-bottom: 15px;
}

.phoneInfo {
  margin-top: 25px;
  margin-bottom: 45px;
}

.mediaIcons {
  margin-top: 25px;
  padding-bottom: 25px;
}

.footer {
  background-color: #25a6d9;
}